@use './mixins' as *;

:root {
  // 背景色
  --c-main-bg: #efe6ff;

  // 文字色
  --c-text-black: #120030;

  // ボタン色
  --c-delete-main: #ff7b7b;
  --c-disabled: #afa7bf;

  // 影の幅
  --shadow-distance: 2px;
  --shadow-distance-minus: calc(var(--shadow-distance) * -1);

  // 影の幅:小(shadow-offset-small)
  --sd-offset-s: 2px;
  --sd-offset-s-minus: calc(var(--sd-offset-s) * -1);
  --bl-offset-s: 4px;

  // 影の幅:中(shadow-offset-medium)
  --sd-offset-m: 3px;
  --sd-offset-m-minus: calc(var(--sd-offset-s) * -1);
  --bl-offset-m: 6px;

  --tooltip-distance: 120%;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
  color: var(--c-text-black);
  background: var(--c-main-bg);
}

html {
  font-size: 16px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

button:hover {
  cursor: pointer;
}

button:focus {
  outline: revert;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  max-height: 100dvh;
  padding: 120px 0 0;
  margin: auto;
}

.contents-wrapper {
  width: calc(100% - 100px);
  max-width: 1200px;
  margin: auto;
}

/* アニメーションの定義 */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@include breakPoint(tablet) {
  html {
    font-size: 15px;
  }

  .contents-wrapper {
    width: calc(100% - 60px);
  }
}

@include breakPoint(sp) {
  html {
    font-size: 14px;
  }

  .contents-wrapper {
    width: calc(100% - 20px);
  }

  .container {
    padding: 80px 0 0;
  }
}

@include breakPoint(small-sp) {
  html {
    font-size: 12px;
  }
}
