@use '../../styles/mixins.scss' as *;
@use 'sass:color';
$delete-base: #a485db;

$delete-dark: color.scale($delete-base, $lightness: -30%, $saturation: -90%);
$delete-light: color.scale($delete-base, $lightness: 80%, $saturation: -5%);

$bg1: color.scale($delete-base, $lightness: 80%, $saturation: -50%);
$bg2: color.scale($delete-base, $lightness: 10%, $saturation: -30%);

$shadow-dark: color.scale($delete-base, $lightness: -10%, $saturation: -10%);
$shadow-light: color.scale($delete-base, $lightness: 50%, $saturation: -70%);

.todo-item {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: space-between;
  padding: 16px 16px 16px 20px;
  font-size: 20px;
  color: #120030;
  border-radius: 50px;
  box-shadow:
    var(--sd-offset-m) var(--sd-offset-m) var(--bl-offset-m) #a59fb0,
    inset -3px -3px 6px #cbc4d9,
    inset 2px 2px 4px #ffffff;
  animation: fadeIn 0.3s ease-out;
  &.delete {
    animation: fadeOut 0.3s ease-out forwards;
  }

  &:not(:last-of-type) {
    margin-bottom: 20px;
  }

  .is-done-box {
    position: relative;
    display: block;
    width: 36px;
    height: 36px;
    cursor: pointer;
    outline: invert;
    background: #efe6ff;
    border: none;
    border-radius: 8px;
    box-shadow:
      2px 2px 4px #a59fb0,
      -2px -2px 4px #ffffff,
      inset 2px 2px 4px transparent,
      inset -2px -2px 4px transparent;
    transition: box-shadow 0.2s ease-out;

    &.checked {
      box-shadow:
        2px 2px 4px transparent,
        -2px -2px 4px transparent,
        inset 2px 2px 4px #a59fb0,
        inset -2px -2px 4px #ffffff;
    }
  }

  .todo-title {
    flex: 1;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: inherit;
    font-size: 1.2rem;
    color: inherit;
    white-space: nowrap;
    outline: none;
    background: transparent;
    border: none;

    &:focus {
      caret-color: #ff7b7b;
    }

    &.strike-through {
      text-decoration: line-through;
    }
  }

  &.checked {
    .todo-title {
      color: #afa7bf;
      text-decoration: line-through;
    }
  }

  .button-group {
    display: flex;
    gap: 12px;
    align-items: center;

    .delete-btn,
    .edit-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 36px;
      height: 36px;
      cursor: pointer;
      outline: invert;
      background: var(--c-bg-main);
      border: none;
      border-radius: 50%;
      box-shadow:
        2px 2px 4px #a59fb0,
        -2px -2px 4px #ffffff,
        inset 2px 2px 4px transparent,
        inset -2px -2px 4px transparent;

      &:active {
        box-shadow:
          2px 2px 4px transparent,
          -2px -2px 4px transparent,
          inset 2px 2px 4px #a59fb0,
          inset -2px -2px 4px #ffffff;
      }
    }

    // .delete-btn {
    //   background: linear-gradient(145deg, #e8d8d8, #e6a7a7);
    //   box-shadow:
    //     3px 3px 10px #b08080,
    //     -3px -3px 10px #fff2f2;
    // }

    // .edit-btn {
    //   background: linear-gradient(145deg, $bg1, $bg2);
    //   box-shadow:
    //     3px 3px 10px $shadow-dark,
    //     -3px -3px 10px $shadow-light;
    // }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@include breakPoint(sp) {
  .todo-item {
    gap: 10px;
    padding: 12px 12px 12px 16px;

    &:not(:last-of-type) {
      margin-bottom: 14px;
    }

    .is-done-box {
      width: 32px;
      height: 32px;
    }

    .button-group {
      gap: 8px;
      .delete-btn,
      .edit-btn {
        width: 32px;
        height: 32px;
      }
    }
  }
}
