@use 'sass:color';
$delete-base: #ff7b7b;
$delete-dark: color.scale($delete-base, $lightness: -30%, $saturation: -90%);
$delete-light: color.scale($delete-base, $lightness: 80%, $saturation: -5%);

.todo-item {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: space-between;
  padding: 16px 16px 16px 32px;
  font-size: 20px;
  color: #120030;
  border-radius: 50px;
  box-shadow:
    var(--shadow-distance) var(--shadow-distance) 10px #a59fb0,
    var(--shadow-distance-minus) var(--shadow-distance-minus) 10px #ffffff,
    inset -1px -1px 4px #cbc4d9,
    inset 1px 1px 4px #ffffff;
  animation: fadeIn 0.3s ease-out;
  &.delete {
    animation: fadeOut 0.3s ease-out forwards;
  }

  &:not(:last-of-type) {
    margin-bottom: 20px;
  }

  .is-done-box {
    position: relative;
    display: block;
    width: 36px;
    height: 36px;
    cursor: pointer;
    outline: invert;
    background: #efe6ff;
    border: none;
    border-radius: 8px;
    box-shadow:
      2px 2px 2px #cbc4d9,
      -2px -2px 2px #ffffff;

    &.checked {
      box-shadow:
        inset 2px 2px 2px #cbc4d9,
        inset -2px -2px 2px #ffffff;
    }
  }

  .todo-title {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: inherit;
    font-size: 20px;
    color: inherit;
    white-space: nowrap;
    outline: none;
    background: transparent;
    border: none;

    &:focus {
      caret-color: #ff7b7b;
    }

    &.strike-through {
      text-decoration: line-through;
    }
  }

  &.checked {
    .todo-title {
      color: #afa7bf;
      text-decoration: line-through;
    }
  }

  .button-group {
    display: flex;
    gap: 12px;
    align-items: center;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
