@use '../../styles/mixins.scss' as *;

.add-todo-wrapper {
  display: flex;
  gap: 10px;
  justify-content: center;
  padding: 0 16px;
  margin-bottom: 24px;

  .add-todo {
    display: block;
    width: 100%;
    padding: 10px 24px;
    font-family: inherit;
    font-size: 1.5rem;
    outline: none;
    background: #efe6ff;
    border: none;
    border-radius: 32px 0px 0px 32px;
    box-shadow:
      inset 3px 3px 4px #bbb5c8,
      inset var(--sd-offset-s-minus) var(--sd-offset-s-minus) var(--bl-offset-s)
        #ffffff;

    &::placeholder {
      color: #918b9c;
    }

    &:focus {
      outline: revert;
    }

    @include breakPoint(sp) {
      padding: 10px 16px;
      font-size: 1.2rem;
    }
  }
}

.add-btn {
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: center;
  min-width: 80px;
  padding: 8px 16px;
  font-family: inherit;
  font-size: 1rem;
  font-weight: bold;
  outline: none;
  background: var(--c-main-bg);
  border: none;
  border-radius: 0px 32px 32px 0px;
  box-shadow:
    var(--sd-offset-s) var(--sd-offset-s) var(--bl-offset-s) #a59fb0,
    inset var(--sd-offset-s-minus) var(--sd-offset-s-minus) var(--bl-offset-s)
      #cbc4d9,
    inset var(--sd-offset-s) var(--sd-offset-s) var(--bl-offset-s) #ffffff;

  & > span {
    color: #120030;
  }

  &:active {
    box-shadow:
      inset var(--sd-offset-s) var(--sd-offset-s) var(--bl-offset-s) #a59fb0,
      var(--sd-offset-s-minus) var(--sd-offset-s-minus) var(--bl-offset-s)
        #cbc4d9,
      var(--sd-offset-s) var(--sd-offset-s) var(--bl-offset-s) #ffffff;

    svg {
      fill: var(--c-disabled);
    }

    & > span {
      color: var(--c-disabled);
    }
  }

  @include breakPoint(sp) {
    min-width: 70px;
    padding: 8px 12px;
  }
}
