.header-container {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  padding: 20px 15px;

  .avatar {
    border-radius: 50%;
  }

  .sign-out-btn {
    display: inline-block;
    padding: 8px 12px;
    font-size: 12px;
    font-weight: bold;
    color: var(--c-text-black);
    outline: invert;
    background: var(--c-main-bg);
    background: #efe6ff;
    border: none;
    border-radius: 4px;
    box-shadow:
      2px 2px 2px #cbc4d9,
      -2px -2px 2px #ffffff;

    &:active {
      color: #afa7bf;
      box-shadow:
        inset 2px 2px 2px #cbc4d9,
        inset -2px -2px 2px #ffffff;
    }
  }
}
