@use '../../styles/mixins.scss' as *;

.header-container {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  padding: 20px 15px;

  .avatar-wrapper {
    position: relative;
    width: 36px;
    aspect-ratio: 1/1;
    border-radius: 50%;

    @include breakPoint(sp) {
      width: 32px;
    }

    .avatar {
      border-radius: 50%;
    }
  }

  .sign-out-btn {
    position: relative;
    display: inline-block;
    padding: 8px 12px;
    font-size: 12px;
    font-weight: bold;
    color: var(--c-text-black);
    outline: invert;
    background: var(--c-main-bg);
    border: none;
    border-radius: 4px;
    box-shadow:
      2px 2px 2px #cbc4d9,
      -2px -2px 2px #ffffff;

    &:active {
      color: var(--c-disabled);
      box-shadow:
        inset 2px 2px 2px #cbc4d9,
        inset -2px -2px 2px #ffffff;
    }

    &:disabled > span:not(.loader) {
      opacity: 0.2;
    }

    .loader {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
